:root {
    /* Colors */
    --pst-color-preformatted-text: 238, 255, 255;
    --pst-color-preformatted-background: 38, 50, 56;
}


/* Acknowledgement below header */

p.acknowledgement {
    color: rgb(170, 170, 170);
    font-style: italic;
    font-size: small;
    margin-top: -15px;
    margin-bottom: 15px;
}


/* Input cells */

div.cell div.cell_input {
    border: 0px rgb(38, 50, 56) solid;
    border-left-color: rgb(255, 203, 107);
    border-left-width: 7px;
    background-color: rgb(38, 50, 56);
}


/* Fix display math equations in ordered/unordered lists too close to text */

main.bd-content #main-content p~div.math {
    margin-top: 0px;
}